.box-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;

}
.box-container{
    margin: 20px;
    font-size: 2rem;
}

button{
    border-radius: 10px;
    background-color:rgb(69, 180, 148);
   
  }

  

